@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    ul,
    ol {
        margin-left: 10px;
        list-style: revert;
    }

    li {
        margin-left: 10px;
    }

    li > ul > li {
        list-style-type: disclosure-closed;
    }

    h3 {
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
}

@layer utilities {
    .find-me {
        z-index: 12345;
        border: solid 1px #0f0;
    }

    .spacious {
        @apply py-3;
    }

    .btn {
        @apply rounded-md px-2;
    }

    .btn-success {
        @apply bg-green-600;
    }

    .btn-success-off {
        @apply bg-green-800;
    }

    .btn-primary {
        @apply bg-blue-500;
    }

    .btn-primary-off {
        @apply bg-blue-800;
    }

    .btn-danger {
        @apply bg-red-700;
    }

    .btn-danger-focus {
        @apply bg-red-950;
    }

    .btn-light {
        @apply border-gray-500 bg-white text-black;
    }

    .pull-left {
        justify-self: start;
    }

    .pull-right {
        justify-self: end;
    }

    .app-widget > * {
        opacity: 25%;
    }

    .app-widget:hover > * {
        opacity: 100%;
    }
}
